/* styles.css */
.css-18e3th9 {
    background-color: #f4f4f4;
}

.css-1d391kg {
    background-color: #ffffff;
}

.sidebar .sidebar-content {
    padding: 10px;
    background-color: #2E86C1;
    color: white;
}

.sidebar .sidebar-content a {
    color: white;
    font-weight: bold;
    text-decoration: none;
}

.sidebar .sidebar-content a:hover {
    color: #d1e9ff;
}
.output-title {
    font-weight: bold;
    margin-bottom: 10px;
}

/* Output Container Styling */
.output-container {
    border: 1px solid #d1d1d1;
    padding: 10px;
    border-radius: 5px;
    background-color: #f9f9f9;
    display: inline-block; /* Allows the container to grow with the content */
    max-width: 100%; /* Ensures it doesn't exceed the parent container's width */
    margin-top: 10px;
    overflow-x: auto; /* Allows horizontal scrolling for large tables */
}

/* Output Title Styling */
.output-title {
    font-weight: bold;
    margin-bottom: 10px;
}

/* Table Styling */
table {
    border-collapse: collapse;
    width: auto; /* Adjusts the table width to its content */
    text-align: left;
    margin-top: 10px;
}

th, td {
    border: 1px solid #d1d1d1;
    padding: 8px;
}

th {
    background-color: #f2f2f2;
    font-weight: bold;
}